Repository cbratkovics/chatbot-ai-system, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci, dependencies, docker, api, infrastructure, providers, database

style: apply black formatting to 6 files
  scripts/dependency_health_monitor.py
  scripts/migrate_to_poetry.py
  src/chatbot_ai_system/cli.py
  tests/conftest.py
  tests/integration/test_api_integration.py
  tests/unit/test_basic.py
Labels: tests

fix: use ruff exclusively for formatting/linting
  pyproject.toml
  scripts/migrate_to_poetry.py
  src/chatbot_ai_system/cli.py
Labels: dependencies

fix: relax mypy configuration to resolve CI type checking failures
  pyproject.toml
Labels: dependencies

fix: relax mypy configuration to resolve CI type checking failures
  pyproject.toml
Labels: dependencies

fix: disable type checking and fix test imports for CI
  pyproject.toml
  tests/test_api.py
Labels: tests, dependencies

fix: disable type checking and fix all api imports
  pyproject.toml
Labels: dependencies

fix: resolve mypy type annotation errors
  poetry.lock
  pyproject.toml
  src/chatbot_ai_system/config.py
  src/chatbot_ai_system/core/tenancy/rate_limiter.py
  src/chatbot_ai_system/middleware/rate_limiter.py
  src/chatbot_ai_system/orchestrator/circuit_breaker.py
  src/chatbot_ai_system/server/middleware/rate_limiter.py
  src/chatbot_ai_system/tenancy/rate_limiter.py
  src/chatbot_system_core/rate_limit/rate_limiter.py
  src/chatbot_system_core/tenants/rate_limiter.py
Labels: dependencies, api

feat: implement core backend with OpenAI and Anthropic providers
  .env.example
  pyproject.toml
  src/chatbot_ai_system/api/chat.py
  src/chatbot_ai_system/api/routes.py
  src/chatbot_ai_system/config.py
  src/chatbot_ai_system/providers/__init__.py
  src/chatbot_ai_system/providers/anthropic_provider.py
  src/chatbot_ai_system/providers/base.py
  src/chatbot_ai_system/providers/openai_provider.py
  src/chatbot_ai_system/providers/streaming_mixin.py
  src/chatbot_ai_system/server/main.py
Labels: dependencies, api, providers

feat: add Redis caching with semantic similarity
  src/chatbot_ai_system/cache/__init__.py
  src/chatbot_ai_system/cache/cache_key_generator.py
  src/chatbot_ai_system/cache/redis_cache.py
  src/chatbot_ai_system/middleware/cache_middleware.py
  src/chatbot_ai_system/utils/hash_utils.py
Labels: none

feat: implement WebSocket streaming support
  src/chatbot_ai_system/api/websocket.py
  src/chatbot_ai_system/websocket/__init__.py
  src/chatbot_ai_system/websocket/ws_handlers.py
  src/chatbot_ai_system/websocket/ws_manager.py
Labels: api

feat: create React frontend with real-time chat
  frontend/Dockerfile
  frontend/components/ChatInterface.tsx
  frontend/components/ChatMessage.tsx
  frontend/components/ModelSelector.tsx
  frontend/hooks/useChat.ts
  frontend/hooks/useWebSocket.ts
  frontend/types/index.ts
Labels: none

feat: add Docker orchestration and production setup
  .dockerignore
  Dockerfile
  docker-compose.prod.yml
  docker-compose.yml
  nginx/nginx.conf
  redis/redis.conf
Labels: docker

feat: add monitoring and security middleware
  benchmarks/run_cache_benchmark.py
  src/chatbot_ai_system/middleware/security.py
  src/chatbot_ai_system/monitoring/metrics.py
Labels: none

feat: add setup scripts and documentation
  .github/workflows/ci.yml
  .gitignore
  README-DOCKER.md
  docs/API.md
  scripts/backup.sh
  scripts/healthcheck.sh
  scripts/restore.sh
  scripts/setup.sh
  scripts/startup.sh
  scripts/test.sh
Labels: documentation, ci

feat: complete rewrite - production-ready AI chatbot system
  .github/dependabot.yml
Labels: ci

fix: resolve dependency issues and syntax errors
  poetry.lock
  pyproject.toml
  src/chatbot_ai_system/utils/hash_utils.py
Labels: dependencies

fix: Update Python version to 3.12 across all CI/CD workflows
  .github/workflows/ci.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
  Dockerfile.production
  fix_mypy_errors.py
Labels: ci, docker

fix: resolve all linting errors in CI/CD
  src/chatbot_system_core/orchestration/fallback_manager.py
  src/chatbot_system_core/orchestration/load_balancer.py
  src/chatbot_system_core/orchestration/model_router.py
Labels: none

Fix cache-venv step ID in tests job
  .github/workflows/main.yml
  fix_all_linting.py
Labels: ci

fix: quick CI/CD fixes to make all checks pass
  .dockerignore
  .github/workflows/ci.yml
  .github/workflows/main.yml
  .github/workflows/pr-checks.yml
  .github/workflows/release.yml
  Dockerfile
  app/__init__.py
  config/requirements/base.txt
  config/requirements/dev.txt
  pyproject.toml
  quick_fix.sh
  setup.py
  src/__init__.py
  src/chatbot_ai_system/__init__.py
  src/chatbot_ai_system/core/_trace 2.py
  src/chatbot_ai_system/core/constraint 2.py
  src/chatbot_ai_system/core/convert 2.py
  src/chatbot_ai_system/core/decoder 2.py
  src/chatbot_ai_system/core/encoder 2.py
  src/chatbot_ai_system/core/error_handler 2.py
  src/chatbot_ai_system/core/extensions 2.py
  src/chatbot_ai_system/core/http11 2.py
  src/chatbot_ai_system/core/http_proxy 2.py
  src/chatbot_ai_system/core/identify 2.py
  src/chatbot_ai_system/core/interfaces 2.py
  src/chatbot_ai_system/core/output 2.py
  src/chatbot_ai_system/core/store 2.py
  src/chatbot_ai_system/core/streams 2.py
  src/chatbot_ai_system/core/warnings 2.py
  src/chatbot_ai_system/core/worker 2.py
  src/chatbot_ai_system/core/writer 2.py
  tests/test_simple.py
Labels: tests, ci, dependencies, docker, infrastructure

.github/labeler.yml:

# Configuration for GitHub labeler action
# https://github.com/actions/labeler

# Add 'documentation' label to any change in docs folder
documentation:
  - docs/**/*
  - '*.md'

# Add 'tests' label to any change in tests folder
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Add 'ci' label to any change in .github folder
ci:
  - .github/**/*

# Add 'dependencies' label to dependency files
dependencies:
  - pyproject.toml
  - poetry.lock
  - requirements*.txt

# Add 'docker' label to Docker-related files
docker:
  - Dockerfile*
  - docker-compose*.yml
  - .dockerignore

# Add 'api' label to API-related changes
api:
  - src/chatbot_ai_system/api/**/*
  - src/chatbot_ai_system/server/**/*
  - src/chatbot_ai_system/schemas/**/*

# Add 'infrastructure' label to infrastructure changes
infrastructure:
  - src/chatbot_ai_system/infrastructure/**/*
  - config/**/*
  - monitoring/**/*

# Add 'providers' label to provider changes
providers:
  - src/chatbot_ai_system/providers/**/*

# Add 'database' label to database changes
database:
  - src/chatbot_ai_system/database/**/*
  - src/chatbot_ai_system/models/**/*
  - migrations/**/*
