Repository cbratkovics/chatbot-ai-system, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, dependencies, ci

ci: trigger workflows on main
  README.md
Labels: documentation

ci: trigger workflows on main
  README.md
Labels: documentation

fix: unignore scripts directory for proper imports
  .gitignore
Labels: none

feat: production-ready refactor with CI/CD and package structure
  .github/workflows/release.yml
Labels: ci

fix: resolve CI/CD failures - fix imports and poetry config
  pyproject.toml
  tests/unit/test_cli.py
  tests/unit/test_config.py
  tests/unit/test_package.py
  tests/unit/test_rate_limit.py
Labels: tests, dependencies

.github/labeler.yml:

documentation:
  - docs/**
  - "*.md"

tests:
  - tests/**
  - "**/test_*.py"

dependencies:
  - poetry.lock
  - pyproject.toml
  - requirements*.txt

ci:
  - .github/**
